html {
   font-size: 10px;
   text-align: center;
}

body, h1, p{
   margin: 0;
}

#title {
   font-size: 3rem;
}
#description, #legend, #tooltip {
   font-size: 1.5rem;
}
#legend, #tooltip {
   display: inline-block;
}
#legend {
   float: left;
   padding-left: 1rem;
}
#tooltip {
   visibility: visible;
}
